<footer>
  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <p class="pr-5 text-white-50">มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตเฉลิมพระเกียรติ จังหวัดสกลนคร</p>
          <p class="pr-5 text-white-50">ระบบยืมคืนอุปกรณ์</p>
          <p class="pr-5 text-white-50">ติดต่่อ : &nbsp;<a href="javascript:void(0)"><i
                class="fab fa-facebook mr-1"></i></a><a href="javascript:void(0)"><i class="fab fa-line"></i></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3">ลิ้งอื่นๆ</h4>
          <ul class="m-0 p-0">
            <li>- <a href="javascript:void(0)">เว็บมหาลัย</a></li>
            <li>- <a href="javascript:void(0)">ระบบสารสนเทศ</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          <h4 class="mt-lg-0 mt-sm-4">ที่ตั้ง</h4>
          <p>59 หมู่ 1 ตำบลเชียงเครือ อำเภอเมืองสกลนคร สกลนคร 47000</p>
          <p class="mb-0"><i class="fa fa-phone mr-3"></i>061-0287788</p>
          <p><i class="fa fa-envelope-o mr-3"></i>tongtangvi@gmail.com</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">&copy; tongtangvi@gmail.com | Design by Atsada karanet</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>