{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'include/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/bootstrap/jquery.datetimepicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/font/font.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/css/borrow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/css/footer.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/css/new.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'include/css/admin.css' %}">


