{% extends 'webapp/new.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="modal fade bd-example-modal-lg Mymodel col-12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
            <div class="container mt-3"  style = "font-family: 'Kanit', sans-serif;">
                <div class="row justify-content-center">
                <div class="col-9">
                    <h1 class="mt-2">เข้าสู้ระบบ</h1>
                    <hr class=" mb-4">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                <div class = "border-top pt-3">
                    <small class ="text-muted">
                        สมัครได้ที่ <a class = "ml-2" style = "color:green" href = "{% url 'register' %}">สมัคร</a>
                        &nbsp;<a style ="color:green" id = "hide_popup" href = "{% url 'password_reset'%}">ลืมรหัสผ่าน</a>
                        &nbsp;<a style ="color:green" id = "hide_popup" href = "{% url 'myapp:borrow'%}">กลับหน้าหลัก</a>
                    </small>
                </div>
                </div>
            </div>
         </div>
     </div>
    </div>
 </div>
  <div  style = "height:270px;"></div>
{% endblock content %}