{% extends 'webapp/new.html'%}
{% block content %}
<div class="modal fade bd-example-modal-lg Mymodel col-12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
            <div class="container mt-3"  style = "font-family: 'Kanit', sans-serif;">
                <div class="row justify-content-center">
                <div class="col-9">
                    <p>
                      รหัสผ่านถูกรีเช็ตแล้ว
                    </p>
                    <div class = "border-top pt-3">
                        <small class ="text-muted">
                            สมัครได้ที่ <a class = "ml-2" style = "color:green" href = "{% url 'register' %}">สมัคร</a>
                            &nbsp;<a class = "ml-2" style = "color:green" href = "{% url 'login' %}">Login</a>
                            &nbsp;<a style ="color:green" id = "hide_popup" href = "{% url 'myapp:borrow'%}">กลับหน้าหลัก</a>
                        </small>
                    </div>
                </div>
            </div>
         </div>
     </div>
    </div>
 </div>
<div  style = "height:270px;"></div>
{% endblock %}

